@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.post-card-column-wrapper {
  display: flex;
  flex-direction: column; /* 세로 배치로 변경 */
  align-items: center; /* 가운데 정렬 */
  width: 100%;

  .post-card-column-title {
    font-size: 27px; /* 원하는 크기로 조정 */
    font-family: 'Do Hyeon', sans-serif;
    font-weight: normal;
    margin-bottom: 15px; /* 아래 요소와 간격 조정 */
    text-align: left;
    width: 100%; /* 부모 요소의 전체 너비 사용 */
  }

  .post-card-column-title1 {
    font-size: 27px; /* 원하는 크기로 조정 */
    // font-weight: bold; /* 강조 스타일 */
    margin-bottom: 15px; /* 아래 요소와 간격 조정 */
    text-align: left;
    width: 100%; /* 부모 요소의 전체 너비 사용 */
  }

  .post-card-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    .post-card-wrapper {
      margin-bottom: 10px;
    }

    .more-post-card-button {
      height: 40px;
      font-weight: 500;
      font-size: 15px;
      background-color: var(--button-background-color);
      color: var(--tab-hover-text-color);
    }
  }
}